<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

    <description>Special K App</description>
    <display-name>Special K App</display-name>

    <servlet>
        <servlet-name>SpecialKServlet</servlet-name>
        <servlet-class>com.biosimilarity.http.servlet.SpecialKServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>SpecialKServlet</servlet-name>
      <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>
